@charset "utf-8";

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

#wrap {
  max-width: 100%;
}



.menu-container {
  display: inline-block;
  overflow: hidden;
  position: fixed;
  top: 51px;
  right: 87px;
  z-index: 9999;
}

/* Styling the menu button with icon and text */
.menu-button {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #333; /* Adjust background color */
  color: #fffefb;
  border-radius: 50px;
  width: 162px; /* Initial width */
  transition: width 0.4s ease;
  cursor: pointer;
}

/* Styling the icon */
.menu-button .icon {
  margin-right: 8px;
}
.menu-button .icon img{
    width: 57.18px;
    height: 57.18px;
    left: -1px;
    top: -1px;    
}
/* Menu text */
.menu-text {
  transition: opacity 0.3s ease;
  font-size: 25px;
  font-weight: bold;
  padding-left: 5px;
}

/* Nav links styling - hidden initially */
.nav-links {
  display: flex;
  align-items: center;
  gap: 32px; /* Space between each nav item */
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.3s ease;
  margin-left: -65px;
}
.nav-links span{
    font-size: 25px;
    font-weight: bold;
}

/* Hover effect */
.menu-container:hover .menu-button {
  width: 543px; /* Expanded width on hover */
  justify-content: flex-start; /* Align content to the left */
  right: 100px; /* Moves the button to the left as it expands */
}

.menu-container:hover .menu-text {
  opacity: 0; /* Hide "Menu" text */
}

.menu-container:hover .nav-links {
  opacity: 1; /* Show nav links */
}

.nav-links span {
  transition: color 0.3s ease, opacity 0.3s ease; /* Smooth transition for color and opacity */
}

.nav-links span:hover {
  color: white; /* Keep hovered span at full brightness */
}

.nav-links span:hover ~ span,
.nav-links span:hover + span {
  opacity: 0.5; /* Dim other spans */
}

/* Optional: dim preceding spans as well */
.nav-links span:hover ~ span,
.nav-links span:not(:hover) {
  opacity: 0.5; /* Dim all other spans */
}

  /* 페이지의 기본 스타일 설정 */
  
  
  /* 배경 영역 */
  .background {
position: relative;
width: 100%;
height: 100%;
display: flex;
justify-content: flex-start;
align-items: center;
}

  /* 비디오 스타일 초기 설정 */
  .video {
    position: fixed;
    width: 440px;
    height: auto;
    aspect-ratio: 16 / 9;
    transition: width 0.3s ease;
    border-radius: 5%;
    top: 680px;
    left: 98px;
    z-index: 10;
   
  }
  

header h1{
    position: relative;
    top: 50px;
    left: 100px;
}
header h1 img{
    width: 15%;
    height: auto;
    
}
.center {
    text-align: center;
    position: absolute;
    padding-top: 50%;
    left: 50%;
  }
  
  .center img {
    position: absolute;
    opacity: 0;
    z-index: 999; 
    width: auto;
    height: auto;
    object-fit: contain;     
    display: block;   
  } 
  
  
  .center img:first-of-type {
    top: 45%; 
    width: 500px; 
    height: auto;
    animation: slideUp 2s ease-out forwards;
  }
  
  
  .center img:last-of-type {
    bottom: 45%; 
    width: 500px; 
    height: auto;
    animation: slideDown 2s ease-out forwards;
  }
  
  
  .center img.since {
    top: 42%; 
    width: 300px; 
    height: auto;
    animation: expandCenter 2s ease-out forwards;
  }
  
  @keyframes slideUp {
    0% {
      transform: translateX(-50%) translateY(0);
      opacity: 0;
    }
    100% {
      transform: translateX(-50%) translateY(-200px); 
      opacity: 1;
    }
  }
  
  @keyframes slideDown {
    0% {
      transform: translateX(-50%) translateY(0);
      opacity: 0;
    }
    100% {
      transform: translateX(-50%) translateY(230px);
      opacity: 1;
    }
  }
  
  @keyframes expandCenter {
    0% {
      transform: translateX(-50%) scale(0.7); 
      opacity: 0;
    }
    100% {
      transform: translateX(-50%) scale(2.5); 
      opacity: 1;
    }
  }


  /*********************패드************************/
@media screen and (max-width : 1200px) {
    .center {
      padding-top: 110%;
    }
    .center img.since{
      top: 45%;
    }
  
  }

  /********************모바일********************/
@media screen and (max-width : 768px) {
 
}



/* Update the history section to be positioned after the video scroll */

#history {
  width: 100%;
    position: absolute; /* Ensure it is positioned normally in document flow */
    top: 2300px; /* Start position, after the video */
    left: 100px;
    margin-top: 800px;
    transition: top 0.5s ease; /* Smooth transition */
  }
  #history h2{
    font-weight: 500;
    top: 193px;
    left: 100px;
    font-size: 5rem;
}
  
.heading {
    height: 5%;
    margin: 10px;
    padding: 10px;
  }

  .swiper-container {
    width: 100%;
    height: 90%;
    margin-top: 100px;
    position: relative;
    left: -280px;
    align-items: center;
  }

  .swiper-slide {
    text-align: center;
    /* 슬라이드 텍스트를 중앙에 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* 이미지 아코디언 일반 설정 */
  .container-general {
    padding: 75px 0;
    margin: 0 auto;
    width: 60.5%;
    height: auto;
  }
  
  .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 143%;
    height: 40vh;
  }

  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
  }

  /* 호버 시 가로, 세로 크기 함께 증가 */
  .item:hover {
    flex: 7;
    height: 50vh; /* 세로로도 커지도록 높이 조정 */
    transition: flex 0.5s ease, height 0.5s ease; /* 높이와 함께 트랜지션 효과 */
  }

  /* 효과 2 */
  .wrap-effect-2 .item:hover {
    transform: translated(0, 0, 100px);
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    filter: saturate(2) contrast(120%);
  }

  .wrap-effect-2 .item:first-of-type {
    background-image: url(../img/history/1943.jpg);
    cursor: pointer;
  }

  .wrap-effect-2 .item:nth-of-type(2) {
    background-image: url(../img/history/1961.jpg);
    cursor: pointer;

  }

  .wrap-effect-2 .item:nth-of-type(3) {
    background-image: url(../img/history/1968.jpg);
    cursor: pointer;
  }

  .wrap-effect-2 .item:nth-of-type(4) {
    background-image: url(../img/history/1980.jpg);
    cursor: pointer;

  }

  .wrap-effect-2 .item:nth-of-type(5) {
    background-image: url(../img/history/1990.jpg);
    cursor: pointer;

  }

  .wrap-effect-2 .item:last-of-type {
    background-image: url(../img/history/2020.jpg);
    cursor: pointer;

  }

  .year{
    position: relative;
    top: -30px;
    left: -78px;
    font-size: 2.5rem;
    font-weight: 500;
  }
  .inspire {
    border: 1px solid rgba(22, 76, 167, 0.6);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
  }

  .inspire:after {
    background: #38ef7d;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }

  .inspire:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  @keyframes rotate {
    0% { transform: rotate(0deg) translate3d(0, 0, 0); }
    25% { transform: rotate(10deg) translate3d(0, 0, 0); }
    50% { transform: rotate(-10deg) translate3d(0, 0, 0); }
    75% { transform: rotate(5deg) translate3d(0, 0, 0); }
    100% { transform: rotate(0deg) translate3d(0, 0, 0); }
  }




  #lineup {
    width: 100%;
   position: absolute; /* Ensure it is positioned normally in document flow */
   top: 4000px; /* Start position, after the video */
   transition: top 0.5s ease; /* Smooth transition */
   height: auto;
 }
  
 .hankook {
  padding: 0 5%;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.hankook img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.r_txt img{
  width: 30vw;
  position: relative;
  top: 1vw;
}


 #lineup h2{
  font-size: 5rem;
  font-weight: 500;
  width: 100%;
  margin-left: 100px;
 }

 @import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css');

:root{--primary:#ff9700}

#atc02{
  height:1700px;
  position: relative;
  top: 50px;
}
#atc02 .l_bnr li{
  overflow:hidden;
  position:sticky;
  top:20px;
  display:flex;
  flex-wrap:wrap;
  align-content:space-between;
  width:auto;
  height:28vw;
  padding:50px 0 50px 100px;
  color:#000;
  background-size:cover;
  background-color: #D9CFC4;
  background-size:cover;
  background-position:center;
  line-height: 1.5;
}
#atc02 .l_bnr div{
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 1.7;
}
#atc02 .l_bnr li:nth-child(2){
  transform:translateY(70px);
  background-color: #D2B799;
}
#atc02 .l_bnr li:nth-child(3){
  transform:translateY(140px);
  background-color: #B9A591;
}
#atc02 .l_bnr .r_txt{
  position:absolute;
  top:45px;
  right:6%;
  font-size:13px;
  -weight:800;
  text-align:right;
  text-transform:uppercase
}
#atc02 .l_bnr li>div{
  width:100%
}
#atc02 .l_bnr div p{
  margin-bottom:15px;
  font-size: 4.6vw;
  font-weight:700;
  line-height:1.2;
  white-space:pre-line;
  color: #3a3a3a;

  
}
#atc02 .l_bnr div>div{
  opacity:.5
}
#atc02 .l_bnr div>div{
  margin-top: 45px;
}





.b2b{
  position: relative;
  top: -100px;
  width: 100%;
}
.b2bt h1{
  text-align: center;
  margin-bottom: 50px;
  font-size: 5rem;
  font-weight: 600;
}
.b2bt p{
  text-align: center;
  font-size: 2rem;
  line-height: 1.7;
  position: relative;
}
.bur{
  display: flex;
  font-weight: 700;
}
.bur p{
  position: relative;
  top: 55%;
  font-size: 4.5vw;
  left: 10%;
  font-weight: 600;
}
.bur img{
  position: relative;
  left: 44%;
  width: 65vw;
}
.eliza{
  display: flex;
  margin-top: 50px;
  position: relative;
  left: 7%;
}
.eliza img{
  position: relative;
  width: 55vw;
}
.eliza p:nth-child(1){
  position: relative;
  font-size: 3vw;
  font-weight: 500;
  top: 60%;
  left: 4%;
}
.eliza .bri{
  position: relative;
  font-size: 3.3vw;
  top: -45px;
  left: 102%;
  font-weight: 500;
}
.blue{
  position: relative;
  left: 7%;
  top: 50%;
}
.blue img{
  position: relative;
  width: 86vw;
  top: 9vw;
}
.klimt{
  display: flex;
  position: relative;
  top: 26vw;
  left: 7%;
}
.blue p{
  position: relative;
  top: 23vw;
  font-size: 5vw;
  left: 5.5%;
}
.klimt img{
  width: 70vw;
}
.klimt p{
  position: relative;
  left: 70vw;
  top: -9vw;
  font-size: 5.5vw;
  font-weight: 500;
}
.roberto{
  position: relative;
  top: 30vw;
  left: 5%;
}
.roberto img{
  width: 88.3vw;
}
.roberto p:nth-child(1){
  position: relative;
  top: 26vw;
  left: 7%;
  font-size: 5vw;
  font-weight: 600;
}
.roberto .cav{
  position: relative;
  top: -6vw;
  left: 70vw;
  font-size: 5vw;
  font-weight: 600;
}



.change_bg li {
  width: 100%;
  height: 100vh;
}

.pattern{
  position: relative;
  top: 37vw;
  left: 8vw;
  width: 100%;
}
.pattern img{
  width: 17vw;
}
.pattern .black{
  position: relative;
  top: 20px;
  width: 14vw;
}
.artwork{
  position: relative;
  z-index: -2;
}
.artwork h2{
  position: relative;
  top: 180px;
  margin-bottom: 100px;
}
.artt{
  position: relative;
  top: 20vw;
  display: flex;
}
.artt p{
  position: relative;
  top: 30px;
  left: 22%;
  width: 100%;
}
.artt .p1{
  font-size: 2rem;
  font-weight: 500;
}
.artt .p2{
  margin-top: 130px;
  top: 30px;
  font-size: 2.3rem;
  font-weight: 400;
}
.artt p:nth-child(1){
  font-size: 3rem;

}
.artt img{
  position: relative;
  left: 22%;
  margin-right: 29px;
  width: 28vw;
}
.artb{
  display: flex;
  position: relative;
  top: 35vw;
}
.artb img{
  position: relative;
  left: 22%;
  margin-top: -100px;
  margin-right: 29px;
  width: 28vw;

}
.artb p{
  position: relative;
  top: 30px;
  left: 22%;
}
.artb .p1{
  font-size: 1.6vw;
  font-weight: 500;
}
.artb .p2{
  margin-top: 130px;
  top: 30px;
  font-size: 2.3rem;
  font-weight: 400;
}

.marker {
  height: 100vh;
}


.section {
  height: 80vh; /* 화면 전체 높이 */
}
.section1 {
  background-color: transparent; /* 개별 섹션의 배경은 투명 */
}
.section2 {
  background-color: transparent;
}

.artwork{
  background-color: #333 transparent;
}

.p2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* 텍스트 아래 간격 */
  width: 0;
  height: 2px; /* 밑줄 두께 */
  background-color: #fffefb; /* 밑줄 색상 */
  transition: width 0.3s ease-in-out; /* 애니메이션 효과 */
}

.p2:hover::after {
  width: 90%; /* hover 시 전체 밑줄 표시 */
}

.artwork{
  background-color: #333;
  width: 120%;
  height: 130vw;
  padding-top: 100px;
  color: #fffefb;
}
.artwork p{
  color: #fffefb;
}



