@charset "utf-8";

a{
  color: #1c1c1c;
}
p{
  color: #1c1c1c
}
body{
  overflow: hidden;
}

#main {
  width: 100%;
  height: auto; 
  margin:0 auto;
  animation: fadein 5s ease 3s;
    -webkit-animation: fadein 3s; /* Safari and Chrome */
  
  
  
  }
  @keyframes fadein {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  
  @-webkit-keyframes fadein { /* Safari and Chrome */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }


  .menu {
    position: relative;
    font-size: 2.5rem;
    z-index: 99;
    font-weight: bold;
  }
  .menu p:nth-child(1){
    position: fixed;
      top: 30px;
      left: 2%;
  }
  .menu p:nth-child(2){
    position: fixed;
    top: 30px;
    right: 2%;
  }
 /*  .menu p:nth-child(3){
    position: relative;
    left: 90%;
    top: 760px;
  } */
  
    .menu p:nth-child(3){
      position: fixed;
      left: 2%;
      top: 90vh;
    }
    
    .menu p:nth-child(1):after {
      content: "";
      position: absolute;
      top: 49%;
      left: 42.2%;
      transform: translate(-50%, -50%);
      width: 143px;
      height: 74px;
      background: url('../img/main/about.png') no-repeat center;
      background-size: cover;
      opacity: 0;
      transition: opacity 0.3s ease;
      z-index: -1;
    }
    
    .menu p:nth-child(1):hover::after {
      opacity: 1;
    }
    
    .menu p:nth-child(2):after {
      content: "";
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 240px;
      height: 147px;
      background: url('../img/main/starss.png') no-repeat center;
      background-size: cover;
      opacity: 0;
      transition: opacity 0.3s ease;
      z-index: -1;
    }
    
    .menu p:nth-child(2):hover::after {
      opacity: 1;
    }
    /* 
    .menu p:nth-child(3):after {
      content: "";
      position: absolute;
      top: -100%;
      left: 40%;
      transform: translate(-50%, -50%);
      width: 224px;
      height: 205px;
      background: url('../img/main/me1.png') no-repeat center;
      background-size: cover;
      opacity: 0;
      transition: opacity 0.3s ease;
      z-index: -1;
    }
    
    .menu p:nth-child(3):hover::after {
      opacity: 1;
    }
 */
    .menu p:nth-child(3):after {
      content: "";
      position: absolute;
      top: 30%;
      left: 37%;
      transform: translate(-50%, -50%);
      width: 156px;
      height: 83px;
      background: url('../img/main/home.png') no-repeat center;
      background-size: cover;
      opacity: 0;
      transition: opacity 0.3s ease;
      z-index: -1;
    }
    
    .menu p:nth-child(3):hover::after {
      opacity: 1;
    }

    
    
    /*fadeup*/
    @keyframes fadeInUp {
      0% {
          opacity: 0;
          transform: translateY(20px); /* Adjust for upward movement */
      }
      100% {
          opacity: 1;
          transform: translateY(0);
      }
    }
    

    
    /*menu ani*/

.container {
  display: flex;
  cursor: pointer;
  letter-spacing: -0.1em;
}
.container a{
  color: #1c1c1c;
}
.letter {
  display: inline-block;
  position: relative;
  /* Slow transition for returning to the original state */
  transition: transform 0.8s ease-in-out, top 0.8s ease-in-out, left 0.8s ease-in-out;
  transform: rotate(0deg);
  top: 0;
  left: 0;
}

 /* Hover effect for each letter with quick transitions */
 .container:hover .letter {
  transition: transform 0.4s ease-in-out, top 0.4s ease-in-out, left 0.4s ease-in-out;
}

 /* Specific transforms for each letter on hover */

 .container:hover .a { transform: rotate(20deg); top: -5px; left: -5px;}
 .container:hover .b { transform: rotate(-10deg); top: 10px; }
 .container:hover .u { transform: rotate(-5deg); top: 10px; }



 .container:hover .p { transform: rotate(-15deg); top: 5px; left: -5px; }
 .container:hover .r { transform: rotate(20deg); top: 10px; right: -5px; }
 .container:hover .o { transform: rotate(10deg); top: -10px; }
 .container:hover .j { transform: rotate(-25deg); top: 15px; left: 0px; }
 .container:hover .e { transform: rotate(20deg); top: -5px; }
 .container:hover .c { transform: rotate(-10deg); top: 5px; }
 .container:hover .t { transform: rotate(15deg); top: -10px; left: 5px; }
 .container:hover .s { transform: rotate(-5deg); top: 10px; }


 .container:hover .cc { transform: rotate(-30deg); top: -3px; }
 .container:hover .oo { transform: rotate(-10deg); top: 10px; left: 3px;}
 .container:hover .nn { transform: rotate(5deg); top: -10px; }
 .container:hover .tt { transform: rotate(5deg); top: 10px; left: 5px;}
 .container:hover .aa { transform: rotate(-25deg); top: -10px; left: 3px;}
 .container:hover .ccc { transform: rotate(30deg); top: 10px; left: 3px;}
 .container:hover .ttt { transform: rotate(-10deg); top: -10px; left: 3px;}

 .container:hover .h { transform: rotate(-15deg); top: 5px; left: -5px; }
   .container:hover .m { transform: rotate(20deg); top: -10px; right: -5px; }
   .container:hover .ee { transform: rotate(-30deg); top: 5px; }


/* Keyframes for slide-up animation */
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px); /* Start below the normal position */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at normal position */
  }
}


.projects2{
  position:absolute;
  left: 50%; transform: translateX(-50%);
  top:16vh;
  font-size: 10vw;
  font-weight: 900;
  letter-spacing: -0.1em;
  z-index: 99;
  display: inline-block;
}
.container2 span{
  color: #1c1c1c;
}


.container2 .letter {
  display: inline-block;
  position: relative;
  transition: transform 0.3s ease-out, top 0.3s ease-out, left 0.3s ease-out;
  transform: rotate(0deg); /* 초기 회전 없음 */
  top: 0; /* 초기 위치 */
  left: 0; /* 초기 위치 */
}

.page__wrapper {
  position: relative;
  width: 100%;
  height: auto;
  will-change: transform; /* 성능 최적화 */
}

.page {
  width: 100%;
  height: auto;
}

body{
  background: url(bacc.png);
  width: 100%;
  height: auto;
  position: absolute;
  overflow-x: hidden;
}

.btm{
  position:absolute;
  top:45vh;
  left:50%; transform: translateX(-50%);  
}
.btm p{
  font-size: 2.4vw;
  font-weight: 200;
  line-height: 1.8;
}
.text{
  display: inline-block; text-align: center;
}

.icon{
  position: relative;
  top: 73px;
  left: 29%;
  display: block;
 /*  padding-bottom: 40px; */
}
.icon a { display: inline-block; position: relative; }

.resume{
  position: relative;
  top: -10px;
}

.git, .link, .gmail{
  margin-right: 170px;
}

.res p{
  font-size: 2.5rem;
  position: relative;
/*   top: 90px;
 */  display: inline-block;
  font-weight: 500;
/*   left: -5%; 
 */  padding-bottom: 40px;
  cursor: default;
}

.svgg{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 5vh;
}

.icon a:nth-child(1):after {
  content: "";
  position: absolute;
  top: 70%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 155px;
  background: url('dd.png') no-repeat center;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.icon a:nth-child(1):hover::after {
  opacity: 1;
}

.icon a:nth-child(2):after {
  content: "";
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 155px;
  background: url('dd.png') no-repeat center;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
  
}

.icon a:nth-child(2):hover::after {
  opacity: 1;
}

.icon a:nth-child(3):after {
  content: "";
  position: absolute;
  top: 49%;
  left: 28.5%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 155px;
  background: url('dd.png') no-repeat center;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.icon a:nth-child(3):hover::after {
  opacity: 1;
}

.icon a:nth-child(4):after {
  content: "";
  position: absolute;
  top: 49%;
  left: 42.2%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 155px;
  background: url('dd.png') no-repeat center;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.icon a:nth-child(4):hover::after {
  opacity: 1;
}

